  <aside>
    <% if product.image.present? %>
      <p><%= image_tag product.image.variant(resize_to_limit: [285, 285]).processed  %></p>
    <% end %>
    <h3><%= product.name %></h3>
    <p>Price: <%= number_to_currency product.price_cents / 100.0 %></p>
    <p><%= product.description %></p>
  </aside>